<header class="title">
  <div class="actions">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="newTenant(null)">
        <mat-icon>add</mat-icon>
        <span>New</span>
      </button>
    </mat-menu>
  </div>
</header>

<div class="table-tenants-div">
    <table mat-table [dataSource]="dataSource" class="table-tenants">  
        <ng-container matColumnDef="TenantName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.tenantName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="ConnectionString">
          <th mat-header-cell *matHeaderCellDef> ConnectionString </th>
          <td mat-cell *matCellDef="let element"> {{element.connectionString}} </td>
        </ng-container>

        <ng-container matColumnDef="Inactive">
          <th mat-header-cell *matHeaderCellDef>Inactive</th>
          <td mat-cell *matCellDef="let element"> 
            <mat-checkbox [(ngModel)]="element.inactive" [disabled]="true"></mat-checkbox>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-details" (click)="newTenant(row)"></tr>
      </table>
</div>

